<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dolly">

    <application
        android:allowBackup="true"
        android:configChanges="locale|orientation|keyboardHidden"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:roundIcon="@drawable/applogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.dolly.AddPhotos"></activity>
        <activity android:name="com.example.dolly.BecomeVip" />
        <activity android:name="com.example.dolly.BlockUsers" />
        <activity android:name="com.example.dolly.FullPhoto" />
        <activity android:name="com.example.dolly.FavouriteSports" />
        <activity android:name="com.example.dolly.FilterFavouriteSports" />
        <activity android:name="com.example.dolly.LoginWithPhone" />
        <activity android:name="com.example.dolly.SignUpWithPhone" />
        <activity android:name="com.example.dolly.PhoneVerification" />
        <activity android:name="com.example.dolly.SetLanguage" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.example.dolly.ChangePassword" />
        <activity android:name="com.example.dolly.InfoAndTerms" />
        <activity android:name="com.example.dolly.Help" />
        <activity android:name="com.example.dolly.Privacy" />
        <activity android:name="com.example.dolly.Notifications" />
        <activity android:name="com.example.dolly.ChangeEmail" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.dolly.DateOfBirth" />
        <activity android:name="com.example.dolly.ImageShow" />
        <activity
            android:name="com.example.dolly.FilterKids"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterDiet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterPets"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterTattoos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterExercise"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterDrinking"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterBodyType"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterReligion"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterSmoker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterEducation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterBodyHeight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterRelationshipStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterProfession"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterDisability"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterDistance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterAge"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FilterGender"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Account"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.UpdateName"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.UpdateDisability"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.UpdateDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Kids"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Diet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Music"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Pets"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Tattoos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Drinking"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.LanguagesSpeak"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.BodyType"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Religion"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Smoke"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Education"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Chat"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Description"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.MapPlacePicker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Height"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.RelationshipStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.LookingFor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Profession"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.HomeTown"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.ProfileDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.SelectProfileImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.SentLikes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Filter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.ProfileEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDACf-X51_FZtM_HDLOiQjTyAEHkvrlbxg" />
        </activity>
        <activity
            android:name="com.example.dolly.MainHome"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Zapping"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Disability"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Location"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDACf-X51_FZtM_HDLOiQjTyAEHkvrlbxg" />
        </activity>
        <activity
            android:name="com.example.dolly.Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Gender"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.FirstName"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.Login_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.dolly.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDACf-X51_FZtM_HDLOiQjTyAEHkvrlbxg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

    <uses-feature
        android:name="android.hardware.Camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>